In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [8]:
# Install dependencies as needed:
# pip install kagglehub[pandas-datasets]
import kagglehub
from kagglehub import KaggleDatasetAdapter

# Set the path to the file you'd like to load
file_path = "Salary_dataset.csv"

# Load the latest version
df = kagglehub.dataset_load(
  KaggleDatasetAdapter.PANDAS,
  "abhishek14398/salary-dataset-simple-linear-regression",
  file_path,
  # Provide any additional arguments like 
  # sql_query or pandas_kwargs. See the 
  # documenation for more information:
  # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
)

In [7]:
df.head()

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

In [9]:
df.drop(str(df.columns[0]), axis=1, inplace=True)
df.head()

   YearsExperience   Salary
0              1.2  39344.0
1              1.4  46206.0
2              1.6  37732.0
3              2.1  43526.0
4              2.3  39892.0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 612.0 bytes

In [11]:
df.isna().sum()

YearsExperience    0
Salary             0
dtype: int64

In [12]:
from sklearn.model_selection import train_test_split

x,y = df[['YearsExperience']], df[['Salary']]

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3)

In [13]:
print(x_train.shape)
print(y_train.shape)

print(x_test.shape)
print(y_test.shape)

(21, 1)
(21, 1)
(9, 1)
(9, 1)

In [15]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
result = model.fit(x_train, y_train)

In [19]:
test_results = result.predict(x_test)
test_results

array([[ 67887.41044957],
       [ 60289.86646582],
       [ 55541.40147598],
       [ 37497.23451458],
       [ 53642.01548004],
       [115372.06034798],
       [ 64088.63845769],
       [ 82132.80541909],
       [100176.97238049]])

In [20]:
from sklearn import metrics


print(f"MAE: {metrics.mean_absolute_error(y_test, test_results)}")
print(f"MSE: {metrics.mean_squared_error(y_test, test_results)}")
print(f"RMSE: {np.sqrt(metrics.mean_squared_error(y_test, test_results))}")
print(f"r2: {metrics.r2_score(y_test, test_results)}")

MAE: 5303.025411875441
MSE: 40808058.8988336
RMSE: 6388.118572696784
r2: 0.92708014012286