In [36]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/student-performance-multiple-linear-regression/Student_Performance.csv

In [37]:
# Install dependencies as needed:
# pip install kagglehub[pandas-datasets]
import kagglehub
from kagglehub import KaggleDatasetAdapter

# Set the path to the file you'd like to load
file_path = "Student_Performance.csv"

# Load the latest version
df = kagglehub.dataset_load(
  KaggleDatasetAdapter.PANDAS,
  "nikhil7280/student-performance-multiple-linear-regression",
  file_path,
  # Provide any additional arguments like 
  # sql_query or pandas_kwargs. See the 
  # documenation for more information:
  # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
)

df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Hours Studied                     10000 non-null  int64
 1   Previous Scores                   10000 non-null  int64
 2   Extracurricular Activities        10000 non-null  object
 3   Sleep Hours                       10000 non-null  int64
 4   Sample Question Papers Practiced  10000 non-null  int64
 5   Performance Index                 10000 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 468.9+ KB

In [39]:
df.isna().sum()

Hours Studied                       0
Previous Scores                     0
Extracurricular Activities          0
Sleep Hours                         0
Sample Question Papers Practiced    0
Performance Index                   0
dtype: int64

In [40]:
def col_formatter(cols):
    col_list = []
    for x in list(cols):
        x = x.replace(" ","_")
        col_list.append(x)
    return col_list

df.columns = col_formatter(df.columns)
df.head()

,Hours_Studied,Previous_Scores,Extracurricular_Activities,Sleep_Hours,Sample_Question_Papers_Practiced,Performance_Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [41]:
import pandas as pd

dummies = pd.get_dummies(df[['Extracurricular_Activities']], dtype='int')
dummies

      Extracurricular_Activities_No  Extracurricular_Activities_Yes
0                                 0                               1
1                                 1                               0
2                                 0                               1
3                                 0                               1
4                                 1                               0
...                             ...                             ...
9995                              0                               1
9996                              0                               1
9997                              0                               1
9998                              0                               1
9999                              1                               0

[10000 rows x 2 columns]

In [42]:
df.drop(str(df.columns[2]), axis=1, inplace=True)
df.head()

,Hours_Studied,Previous_Scores,Sleep_Hours,Sample_Question_Papers_Practiced,Performance_Index
0,7,99,9,1,91.0
1,4,82,4,2,65.0
2,8,51,7,2,45.0
3,5,52,5,2,36.0
4,7,75,8,5,66.0

In [43]:
df = pd.concat([df, dummies], axis=1)
df.head()

,Hours_Studied,Previous_Scores,Sleep_Hours,Sample_Question_Papers_Practiced,Performance_Index,Extracurricular_Activities_No,Extracurricular_Activities_Yes
0,7,99,9,1,91.0,0,1
1,4,82,4,2,65.0,1,0
2,8,51,7,2,45.0,0,1
3,5,52,5,2,36.0,0,1
4,7,75,8,5,66.0,1,0

In [44]:
x,y = df.drop(str(df.columns[4]),axis=1), df[['Performance_Index']]
x

,Hours_Studied,Previous_Scores,Sleep_Hours,Sample_Question_Papers_Practiced,Extracurricular_Activities_No,Extracurricular_Activities_Yes
0,7,99,9,1,0,1
1,4,82,4,2,1,0
2,8,51,7,2,0,1
3,5,52,5,2,0,1
4,7,75,8,5,1,0
...,...,...,...,...,...,...
9995,1,49,4,2,0,1
9996,7,64,8,5,0,1
9997,6,83,8,5,0,1
9998,9,97,7,0,0,1
9999,7,74,8,1,1,0

In [45]:
y

      Performance_Index
0                  91.0
1                  65.0
2                  45.0
3                  36.0
4                  66.0
...                 ...
9995               23.0
9996               58.0
9997               74.0
9998               95.0
9999               64.0

[10000 rows x 1 columns]

In [46]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3)


print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(7000, 6)
(7000, 1)
(3000, 6)
(3000, 1)

In [47]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
train_scaled = scaler.fit_transform(x_train)
test_scaled = scaler.fit_transform(x_test)

In [48]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
result = model.fit(x_train, y_train)

In [49]:
test_results = result.predict(x_test)
test_results

array([[76.12275318],
       [56.17532306],
       [56.98384613],
       ...,
       [54.32678326],
       [59.50187716],
       [71.47928752]])

In [50]:
from sklearn import metrics

print(f"MAE: {metrics.mean_absolute_error(y_test, test_results)}")
print(f"MSE: {metrics.mean_squared_error(y_test, test_results)}")
print(f"RMSE: {np.sqrt(metrics.mean_squared_error(y_test, test_results))}")
print(f"r2_score: {metrics.r2_score(y_test, test_results)}")

MAE: 1.6299486385304676
MSE: 4.224348245127692
RMSE: 2.0553219322353597
r2_score: 0.9883903371620858